{% include header.html %}

<hgroup>
    <h1>Het is <span></span> dagen geleden dat Marc zijn gedicht moest schrijven.</h1>
    <h2>Zou het nog gebeuren? </h2>
</hgroup>
<script>

    const then = new Date("2022/01/21");

    function getDaysUntil(date) {
        const now = new Date();
        const dif = date - now;
        return Math.floor(dif / 1000 / 60 / 60 / 24 * -1);
    }


    document.querySelector("h1 span").textContent = getDaysUntil(then);

    document.querySelector("meta[name=description]").setAttribute("content", `Het is ${getDaysUntil(then)} dagen geleden dat Marc zijn gedicht moest schrijven. Zou het nog gebeuren? `)
</script>


<style>
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: aliceblue;
        color: #353535;
        font-family: sans-serif;
    }

    body main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }

    hgroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 4rem);
        text-align: center;
        transform: translateY(-15%);
        font-family: sans-serif;
    }

    h1 {
        margin-bottom: 1rem;
        font-family: sans-serif;
    }

    h1 span {
        color: darkred;
        font-family: sans-serif;
    }

    h2 {
        font-family: sans-serif;
        color: darkred; 
    }
</style>





{% include footer.html %}